//Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$font: 'Poppins';
$mainfont: 'Indie Flower', cursive;

//Spalvos
$green: #C3E2C2;
$lightgreen: #c3e2c277;
$yellow: #EAECCC;
$brown: #DBCC95;
$red: #CD8D7A;

